.wrapper {
    border: 1px solid #999;
}


/* base icon setup */
.icon {
  fill: var(--primary-color);
  box-sizing: border-box;    
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.2em;
  /*margin-right: 10px;*/
  /*fill: #fff;
  stroke: black; 
  stroke-width: 1;*/
  /*border: 1px solid #090;*/

}

.icon-size-small {
    width: 16px;
    height: 16px;
}

.icon-size-standard {
    width: 32px;
    height: 32px;
}

.icon-size-large {
    width: 64px;
    height: 64px;
}

.icon-angry {
    /*fill: hsl(30, 50%, 3%);*/
}

/* Animations */
.spinn {
    animation: infinite-spinning 4s infinite;
}
    
@keyframes infinite-spinning {
  from {
    transform:rotateY(0deg);
  }
  to {
    transform:rotateY(360deg);
  }
}

  
